<form class="" action="/tasks/<%=@task.id%>" method="post">
  <p>Edit</p>
  <input type="hidden" name="_method" value="put"> <!-- overide post -->
  <input type="text" name="task[title]" value="<%=@task.title%>"><br>
  <!-- name == key   value == value -->
  <textarea name="task[description]" <%=@task.description %>></textarea><br>
  <input type="submit" value="Submit">
</form>
